.senhas-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ef97a4;
    padding: 228px;
   
  }

  .titulos{

  color: #ffffff;;
  background-color: #ce1f3a;
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  border-radius: 18px;
  font-size: 40px;

  }

  .FontePagina{

    color: #ffffff;
    margin: 2rem;
  }
  
  .senhas-DisplaySenha {
    width: 50%;
    min-height: 150px; 
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    border-radius: 18px;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 20px; 
    padding: 20px;
    border: solid 5px black;
  }
  
  .bntUm, .bntDois {
    width: 200px;
    gap: 20px; 
    padding: 10px;
    cursor: pointer; 
  }
  
  .senhaChamadaDisplay {
    background-color: brown;
    color: white;
    padding: 10px;
    margin-top: 10px; 
    border-radius: 10px;
  }
  
  .bntGerarsenha {
    background-color: blueviolet;
    width: 12%; 
    padding: 10px;
    list-style-type: none; 
    color: white;
    text-align: center;
  }
  
  .senha-conteudo-Dois {
    width: 50%;
    min-height: 150px; 
    display: flex;
    justify-content: space-around; 
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 18px;
    flex-wrap: wrap;
    margin-top: 20px;

    border: solid black 5px;
    
  }
 
  