.container {
  display: flex;
  flex-direction: column;
  height: 70%;
  /* Certifique-se de que o contêiner principal tenha uma altura definida */
}

.div {
  padding: 10px;
}

.div1 {
  background-color: #e23e57;
  width: 100%;
  height: 20%; /* A altura agora será 60% da altura do contêiner pai */
  display: flex;
  align-items: center;
}

.div2 {
  background-color: #ffffff;
  width: 100%;

  height: 10%; /* A altura agora será 60% da altura do contêiner pai */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.Farmacia_popular {
  width: 150px;
}

.titulo1, .titulo2, .titulo3, .titulo4 {
  width: 90%;
  height: auto; /* Define a altura como automática, para evitar conflito com o Flexbox */
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza o texto dentro das divs */
}

.titulo1 {
  color: #ffffff;
  margin-left: 10%;
}

.titulo2 {
  color: #e96a7e;
  padding-left: 2%;
}

.titulo3, .titulo4 {
  color: #e96a7e;
}

.titulo2:hover, .titulo3:hover, .titulo4:hover {
  color:  #e6e6e6; /* Cor de texto ao passar o mouse */
  text-shadow: 0 0 10px #e96a7e; /* Adiciona um brilho ao texto */
}

.CampoPesquisa {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20%;
}