.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}



.div1 {
  background-color: #e23e57;
  width: 100%;
  height: 90%; 
  display: flex;
  align-items: center;
  border: solid 7px black;
  border-radius: 10px;

}

.div2 {
  background-color: #ffffff;
  width: 100%;
  height: 20%; 
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.Farmacia_popular {
  width: 150px;
  margin-left: 5%;
}

.titulo1, .titulo2, .titulo3, .titulo4 {
  width: 90%;
  height: auto; 
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-top: 1%;
}

.titulo1 {
  color: #ffffff;
  margin-left: 10%;
}

.titulo2 {
  color: #e96a7e;
  padding-left: 2%;
}

.titulo3, .titulo4 {
  color: #e96a7e;
}

.titulo2:hover, .titulo3:hover, .titulo4:hover {
  color:  #e6e6e6; 
  text-shadow: 0 0 10px #e96a7e; 
}

.CampoPesquisa {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.logo{

  margin-right: 10%;



}