html, body, #root {
  height: 69%;
background-color: white;  
}

.conteudo-container {
  background-color: blue;
  width: 100%;
  height: 85%; 
  flex-direction: column; 
}

.conteudo-row {
  display: flex;
 
}

.conteudoUm {
  background-color: #ce1f3a;
  width: 50%; 
  height: 70%; 
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  border-top-right-radius: solid 20px black;

}

.index-conteudoDois {
  background-color: #ce1f3a;
  width: 50%; 
  height: 70%; 
  display: flex;
  align-items: flex-end; 
  justify-content: center; 
  border-top-left-radius: solid 20px black;
  
}

.ConteudoTres {
  background-color:#ef97a4;;
  width: 100%;
  height:90% ;
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: row;
  padding: 140px;
  border: solid 5px black;
  border-radius: 18px;
}
.navbar{

  padding-left: 100px;


}


.fonteUm {
  color: #ffffff;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; 
  display: flex;
 
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  padding-left: 100px; 
}

.fonteDois {
  color: #ffffff;
  padding-left: 20px; 
}

.Farmacia_placa {
  width: 440px;
  height: 400px;
}

.Farmacia_camiseta {
  width: 90%;
  height: 400px;
  margin-left: 15%;
}

.texto_fofoca{
  color: black;
  font-size:12px;


}

/* .fofoca-link{
  width: 10%;
  height: 30%;
  border-radius: 31px;
  background-color:  #e6e6e6;;
  color:#ce1f3a;;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  border: 0px;
  margin-top: 2%;
  

} */

.fonte_Promoçôes{

  color: #ffffff;

  font-size: 30px
  


}

.fonte_louco{

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%;

  font-size: 20px


}

